<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.angle.mapper.CourierMapper">

    <select id="findAll" resultType="Courier">
        select * from courier where tag=2
    </select>

    <select id="findByUsername" resultType="Courier">
        select * from courier where username=#{username}
    </select>

    <select id="count" resultType="int">
        select count(*) from courier
    </select>

    <select id="findById" resultType="Courier">
        select * from courier where id=#{id}
    </select>

    <delete id="deleteById">
        delete from courier where id=#{id}
    </delete>

    <update id="modifyById">
        update courier set username=#{username},password=#{password},appPassword=#{appPassword},telephone=#{telephone},address=#{address} where id=#{id}
    </update>

    <insert id="insert">
        insert into courier(tag,username,password,appPassword,telephone,address) value (#{tag},#{username},#{password},#{appPassword},#{telephone},#{address})
    </insert>

</mapper>